.nutui-react-demo {
  // -webkit-box-sizing: border-box;
  // box-sizing: border-box;
  min-height: 100vh;
  height: 100%;
  // background: #f7f8fa;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0px 17px 10px 17px !important;
}